[PATHS]
input_imdb_file = ./dataOrigin/archive.zip
input_wiki_file = ./dataOrigin/enwiki-latest-abstract.xml.gz
output_imdb_file = ./dataOrigin/extractions/
output_wiki_file = ./dataOrigin/extractions/
name_file_wiki = enwiki-latest-abstract.xml
# File to check, in order to unzip - not a necessary setting
check_name_file_imdb = ratings.csv
[DB_SPEC]
database_name = movie_db
table_name = ratings_ratio
tech_table_name = upload_history
tech_table_db = tech_db
postgres_username = postgres
postgres_password = abcd1234
